<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="testData" type="Xunit.Extensions.Configuration.TestDataSection, xunit.extensions.config" />
  </configSections>
  <testData>
    <tests>
      <!-- <add name="Namespace.Class.Method">
        <data>
          <add index="0" name="Optional" p0="Hello World" p1="123" p2="true" />
        </data>
      </add> -->
    </tests>
  </testData>
</configuration>